<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
  <!--<title>Bootstrap Example</title>-->
  <!--<meta charset="utf-8">-->
  <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
  <!--<link rel="stylesheet" href="/styles/demo.css">-->
<!--</head>-->
<!--<body>-->

<div class="container-fluid">
  <h1>Hello World!</h1>
  <div class="demobox">asdfg</div>
  <div class="row">
    <div class="col-sm-12"style="background-color:lavender;">test</div>
  </div>
  <div class="row">
    <div class="col-sm-3" style="background-color:lavender;">
    </div>
    <div class="col-sm-3" style="background-color:lavenderblush";>
      <button type="button" class="btn btn-info">Button</button>
    </div>
    <div class="col-sm-3" style="background-color:lavender";>
      <button type="button" class="btn btn-info">Button</button>
    </div>
    <div class="col-sm-3" style="background-color:lavenderblush";>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3" style="background-color:lavender;">
      <button type="button" class="btn btn-info">Button</button>
    </div>
    <div class="col-sm-3" style="background-color:lavenderblush";>
      <button type="button" class="btn btn-info">Button</button>
    </div>
    <div class="col-sm-3" style="background-color:lavender";>
      <button type="button" class="btn btn-info">Button</button>
    </div>
    <div class="col-sm-3" style="background-color:lavenderblush";>
      <button type="button" class="btn btn-info">Button</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3" style="background-color:lavender;">
    </div>
    <div class="col-sm-3" style="background-color:lavenderblush";>
      <button type="button" class="btn btn-info">Button</button>
    </div>
    <div class="col-sm-3" style="background-color:lavender";>
      <button type="button" class="btn btn-info">Button</button>
    </div>
    <div class="col-sm-3" style="background-color:lavenderblush";>
    </div>
  </div>
</div>

</body>
</html>

