<!-- stylesheets -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,500,400italic,700,700italic' rel='stylesheet' type='text/css'>


<div>
 <div class="mdl-grid" id="gridAll">
   <div class="mdl-cell mdl-cell--1-col">                        <!--  grid containing the button for modals-->
     <button class="mdl-button mdl-button--icon mdl-button--4-col" data-toggle="modal" data-target="#myModal">
       <i class="material-icons">add</i>
     </button>
   </div>
   <div class="mdl-cell mdl-cell--1-col">                        <!--  11 grids containing possible widgets-->
     <div class="grid-stack grid-stack-1"></div>
   </div>
   <div class="mdl-cell mdl-cell--1-col">
     <div class="grid-stack grid-stack-1"></div>
   </div>
   <div class="mdl-cell mdl-cell--1-col">
     <div class="grid-stack grid-stack-1"></div>
   </div>
   <div class="mdl-cell mdl-cell--1-col">
     <div class="grid-stack grid-stack-1"></div>
   </div>
   <div class="mdl-cell mdl-cell--1-col">
     <div class="grid-stack grid-stack-1"></div>
   </div>
   <div class="mdl-cell mdl-cell--1-col">
     <div class="grid-stack grid-stack-1"></div>
   </div>
   <div class="mdl-cell mdl-cell--1-col">
     <div class="grid-stack grid-stack-1"></div>
   </div>
   <div class="mdl-cell mdl-cell--1-col">
     <div class="grid-stack grid-stack-1"></div>
   </div>
   <div class="mdl-cell mdl-cell--1-col">
     <div class="grid-stack grid-stack-1"></div>
   </div>
   <div class="mdl-cell mdl-cell--1-col">
     <div class="grid-stack grid-stack-1"></div>
   </div>
   <div class="mdl-cell mdl-cell--1-col">
     <div class="grid-stack grid-stack-1"></div>
   </div>
 </div>




  </div>                                             <!--  the bottom grid  -->
    <div class="mdl-cell--12-col-tablet">
      <div class="grid-stack grid-stack-5" id="bottomGrid">
        </div>
    </div>
  </div>

<!-- dropdown menu -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"> <!--  the modal appearing after pressing the button -->
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">                               <!--  add a new widget  -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Add a customized new widget</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label for="duration">Select duration:</label>
            <div id="DurationInfo" class="fa fa-info-circle"></div><div id="DurationText" style="display: none">Select a duration level between  0 and 9 with 0 as the fastest and 9 as the slowest transportation time possible</div>
            <select type="number" class="selectpicker form-control" id="duration" placeholder="Select a duration between 0 and 9">
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
            </select>
          </div>
          <div class="form-group">
            <label for="price">Select price:</label>
            <div id="PriceInfo" class ="fa fa-info-circle"></div><div id="PriceText" style="display: none"> Select a price level between 0 and 250 with 0 as the lowest price and 250 as the highest price possible</div>
            <input type="text" class="form-control" id="price" placeholder="enter a price between 0 and 250">
          </div>
          <div class = "form-group">
            <label for ="pollution">Select CO2 Emissions:</label>
            <div id="PollutionInfo" class="fa fa-info-circle"></div><div id="PollutionText" style="display: none"> Select a pollution level between 0 and 10 with 0 as the fewest and 10 as the highest emission level possible</div>
            <select type="number" class="selectpicker form-control" id="pollution" placeholder="Select the C02 emisssion level of the chosen transport">
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
            </select>
          </div>
          <div class="form-group">
            <label for="comfort">Select comfort level:</label>
            <div id="ComfortInfo" class="fa fa-info-circle"></div><div id="ComfortText" style="display: none">Select a comfort level between 0 and 5 with 0 as the highest and 5 as the lowest comfort level possible</div>
            <select type="text" class="selectpicker form-control" id="comfort" placeholder="enter a level for the comfort between 1 and 5">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="form-group">
            <label for="ImagePicker"> Select type of transportation:</label>
            <div id="TransportationInfo" class="fa fa-info-circle"></div><div id="TransportationText" style="display: none">Select the vehicle used for transportation </div>
            <select class="PickerSelect form-control show-tick" title="choose here" id="ImagePicker">
              <option data-icon="fa fa-train">train</option>
              <option data-icon="fa fa-bus">bus</option>
              <option data-icon="fa fa-car">car</option>
              <option data-icon ="fa fa-plug">Ecar</option>
              <option data-icon="fa fa-plane">plane</option>
              <option data-icon ="fa fa-bicycle">bike</option>
              <option data-icon ="fa fa-plug">ebike</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-block" id="submitWidget" data-dismiss="modal"> Add widget</button>
      </div>
    </div>
  </div>
</div>


<!-- bottom modal -->
<div class="mdl-grid">
  <div class=mdl-cell mdl-cell--4-col>
    <div class="mdl-button-group">
      <button class="mdl-button mdl-button--icon mdl-button--2-col"id="StraightButton">
        <i class="material-icons">arrow_forward</i>
      </button>
      <button class="mdl-button mdl-button--icon mdl-button--2-col"id="FlowButton">
        <i class="material-icons">subdirectory_arrow_right</i>
      </button>
      <button class="mdl-button mdl-button--icon mdl-button--2-col"id="CurvyButton">
        <i class="material-icons">show_chart</i>
      </button>
    </div>
  </div>
  <div class="mdl-cell--8-col">
    <div class="mdl-button-group">
      <button class="mdl-button mdl-button--icon mdl-button--2-col" id="PriceCriteria">
        <i class="material-icons">euro_symbol</i>
      </button>
      <button class="mdl-button mdl-button--icon mdl-button--2-col" id="DurationCriteria">
        <i class="material-icons">access_time</i>
      </button>
      <button class="mdl-button mdl-button--icon mdl-button--2-col" id="ComfortCriteria">
        <i class="material-icons">airline_seat_individual_suite</i>
      </button>
      <button class="mdl-button mdl-button--icon mdl-button--2-col" id="PollutionCriteria">
        <i class="material-icons">local_florist</i>
      </button>
    </div>
  </div>
</div>




</div>

<!--
<div class="row">
  <div class="col-md-12">
    <div class="col-md-6 btn-group button1">
      <button class="col-md-4 btn btn-primary" id="StraightButton">&rarr;</button>
      <button class="col-md-4 btn btn-primary" id="FlowButton">&#x21B1;</button>
      <button class="col-md-4 btn btn-primary" id="CurvyButton">&#x219D;</button>
    </div>
    <div class="col-md-6 btn-group button2">
      <button class="col-md-3 btn btn-primary" id="PriceCriteria">price</button>
      <button class="col-md-3 btn btn-primary" id="DurationCriteria">duration</button>
      <button class="col-md-3 btn btn-primary" id="ComfortCriteria">comfort</button>
      <button class="col-md-3 btn btn-primary" id="PollutionCriteria">pollution </button>
    </div>
  </div>
</div>
-->
