<div class="container-fluid" id="gridAll">
  <div class="row no-gutter row-horizon">        <!-- the scrollbar - classes:  nogutter: no gaps, row-horizon: enables scroll-->
    <div class="col-xs-1">                        <!--  grid containing the button for modals-->
      <button type="button" class="btn" data-toggle="modal" data-target="#myModal"><b>+ / -</b></button>
    </div>
    <div class="col-xs-1">                        <!--  15 grids containing possible widgets-->
      <div class="grid-stack grid-stack-1"></div>
    </div>
    <div class="col-xs-1">
      <div class="grid-stack grid-stack-1"></div>
    </div>
    <div class="col-xs-1">
      <div class="grid-stack grid-stack-1"></div>
    </div>
    <div class="col-xs-1">
      <div class="grid-stack grid-stack-1"></div>
    </div>
    <div class="col-xs-1">
      <div class="grid-stack grid-stack-1"></div>
    </div>
    <div class="col-xs-1">
      <div class="grid-stack grid-stack-1"></div>
    </div>
    <div class="col-xs-1">
      <div class="grid-stack grid-stack-1"></div>
    </div>
    <div class="col-xs-1">
      <div class="grid-stack grid-stack-1"></div>
    </div>
    <div class="col-xs-1">
      <div class="grid-stack grid-stack-1"></div>
    </div>
    <div class="col-xs-1">
      <div class="grid-stack grid-stack-1"></div>
    </div>
    <div class="col-xs-1">
      <div class="grid-stack grid-stack-1"></div>
    </div>
    <div class="col-xs-1">
      <div class="grid-stack grid-stack-1"></div>
    </div>
    <div class="col-xs-1">
      <div class="grid-stack grid-stack-1"></div>
    </div>
    <div class="col-xs-1">
      <div class="grid-stack grid-stack-1"></div>
    </div>
    <div class="col-xs-1">
      <div class="grid-stack grid-stack-1"></div>
    </div>

  </div>
  <div class="row">                                             <!--  the bottom grid  -->
    <div class="col-xs-12">
      <div class="grid-stack grid-stack-5" id="bottomGrid">
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"> <!--  the modal appearing after pressing the button -->
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">                               <!--  add a new widget  -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Add a customized new widget</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label for="duration">Select duration:</label>
            <input type="text" class="form-control" id="duration" placeholder="enter a duration between 0 and 9">
          </div>
          <div class="form-group">
            <label for="price">Select price:</label>
            <input type="text" class="form-control" id="price" placeholder="enter a price between 0 and 250">
          </div>
          <div class="form-group">
            <label for="comfort">Select comfort level:</label>
            <input type="text" class="form-control" id="comfort" placeholder="enter a level for the comfort between 1 and 5">
          </div>
          <div class="form-group">
            <label for="imagePicker"> Select type of transportation:</label>
            <select class="selectpicker form-control" title="choose here" id="imagePicker">
              <option data-icon="fa fa-train">train</option>
              <option data-icon="fa fa-bus">bus</option>
              <option data-icon="fa fa-car">car</option>
              <option data-icon="fa fa-plane">plane</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-block" id="submitWidget" data-dismiss="modal"> Add widget</button>
      </div>
      <div class="modal-header">                                  <!--  change criteria  -->
        <h4 class="modal-title">Change the criteria for calculation of values</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label for="criteria">Select criteria:</label>
            <select class="selectpicker form-control" id="criteriaPicker">
              <option>duration</option>
              <option>price</option>
              <option>comfort</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-block" id="submitCriteria" data-dismiss="modal"> Change criteria</button>
      </div>
      <div class="modal-header">                                            <!--  change connector style  -->
        <h4 class="modal-title">Change connector style of the paths</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label for="connector">Select connector style:</label>
            <select class="selectpicker form-control" id="connectorPicker">
              <option>straight</option>
              <option>flowchart</option>
              <option>curvy</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer" id="lastFooter">
        <button type="submit" class="btn btn-block" id="submitConnector" data-dismiss="modal"> Change connector style</button>
      </div>
    </div>
  </div>
</div>


<!-- bottom modal -->

<div class="container-fluid" role = "form">      <!-- the scrollbar -classes: nogutter: no gaps, row-horizon: enables scroll-->
  <div class="row no-gutter row-horizon">       <!-- grid containing different options for adapting grid -->
    <div class="page-header text-center">
      <h2>Settings</h2>
    </div>
    <div class="col-xs-4">
      <div class ="header text-center">
        <h4 class ="title">Add an additional widget</h4>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-block" id="#submitWidget" data-dismiss="modal" data-toggle="modal" data-target="#myModal" > Add widget</button>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="header text-center">
        <h4 class ="title">Change connection styles</h4>
      </div>
      <div class ="modal-footer">
        <div type="submit" id="ConnectorSubmit">
          <form role="form">
            <div class ="form-group">
              <select class="selectpicker show-tick" id="PickConnection">
                <option>straight</option>
                <option>flowchart</option>
                <option>curvy</option>
              </select>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="header text-center">
        <h4 class ="title">Change calculation criteria</h4>
      </div>
      <div class="modal-footer">
        <div id="Criteriasubmit">
          <form role="form">
            <div class="form-group">
              <select class ="selectpicker show-tick" id="SelectCriteria">
                <option>duration</option>
                <option>price</option>
                <option>comfort</option>
                <option>C02 emissions</option>
              </select>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
