<div class="container-fluid">
  <h1>Float grid demo</h1>

  <div>
    <a class="btn btn-default" id="add-new-widget" href="#">Add Widget</a>
  </div>

  <br/>
  <div class=demoBox" id="demo">dada</div>
  <div class="grid-stack">
  </div>
</div>

<script type="text/javascript">


</script>
