<div class="container-fluid" id="gridAll">
  <div class="row no-gutter row-horizon">        <!--  nogutter: Keine Abstände, row-horizon: Scroll-->
   <div class="col-xs-1">
      <div class="grid-stack grid-stack-1" id="containsButton"></div>
   </div>
    <div class="col-xs-1">
      <div class="grid-stack grid-stack-1"></div>
    </div>
    <div class="col-xs-1">
      <div class="grid-stack grid-stack-1"></div>
    </div>
    <div class="col-xs-1">
      <div class="grid-stack grid-stack-1"></div>
    </div>
    <div class="col-xs-1">
      <div class="grid-stack grid-stack-1"></div>
    </div>
    <div class="col-xs-1">
      <div class="grid-stack grid-stack-1"></div>
    </div>
    <div class="col-xs-1">
      <div class="grid-stack grid-stack-1"></div>
    </div>
    <div class="col-xs-1">
      <div class="grid-stack grid-stack-1"></div>
    </div>
    <div class="col-xs-1">
      <div class="grid-stack grid-stack-1"></div>
    </div>
    <div class="col-xs-1">
      <div class="grid-stack grid-stack-1"></div>
    </div>
    <div class="col-xs-1">
      <div class="grid-stack grid-stack-1"></div>
    </div>
    <div class="col-xs-1">
      <div class="grid-stack grid-stack-1"></div>
    </div>
    <div class="col-xs-1">
      <div class="grid-stack grid-stack-1"></div>
    </div>
    <div class="col-xs-1">
      <div class="grid-stack grid-stack-1"></div>
    </div>

  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="grid-stack grid-stack-5" id="bottomGrid">
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a customized new widget</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label for="duration">Duration</label>
            <input type="text" class="form-control" id="duration" placeholder="Enter a duration between 0 and 9">
          </div>
          <div class="form-group">
            <label for="price"></span> Price</label>
            <input type="text" class="form-control" id="price" placeholder="Enter a price between 0 and 999">
          </div>
          <div class="form-group">
            <label for="comfort"></span> Comfort</label>
            <input type="text" class="form-control" id="comfort" placeholder="Enter a level for the comfort between 1 and 3">
          </div>
        </form>
        <div>
          <select name="selImage" class="selectpicker" data-size="8">
            <option data-content='<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/25_railtransportation.svg/200px-25_railtransportation.svg.png">'>"https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/25_railtransportation.svg/200px-25_railtransportation.svg.png"</option>
            <option data-content='<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Bus-logo.svg/200px-Bus-logo.svg.png">'>"https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Bus-logo.svg/200px-Bus-logo.svg.png"</option>
            <option data-content='<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Aiga_carrental_cropped.svg/200px-Aiga_carrental_cropped.svg.png">'>"https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Aiga_carrental_cropped.svg/200px-Aiga_carrental_cropped.svg.png"</option>
            <option data-content='<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Airplane_silhouette.svg/200px-Airplane_silhouette.svg.png?uselang=de">'>"https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Airplane_silhouette.svg/200px-Airplane_silhouette.svg.png?uselang=de"</option>
      </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success btn-block" id="submitForm" data-dismiss="modal"></span> Add widget</button>
      </div>
    </div>
  </div>
</div>
</div>



