<div class="container-fluid">
  <div class="row no-gutter row-horizon">        <!--  nogutter: Keine Abstände, row-horizon: Scroll-->
   <div class="col-md-1">
      <div class="grid-stack grid-stack-1"></div>
   </div>
    <div class="col-md-1">
      <div class="grid-stack grid-stack-1"></div>
    </div>
    <div class="col-md-1">
      <div class="grid-stack grid-stack-1"></div>
    </div>
    <div class="col-md-1">
      <div class="grid-stack grid-stack-1"></div>
    </div>
    <div class="col-md-1">
      <div class="grid-stack grid-stack-1"></div>
    </div>
    <div class="col-md-1">
      <div class="grid-stack grid-stack-1"></div>
    </div>
    <div class="col-md-1">
      <div class="grid-stack grid-stack-1"></div>
    </div>
    <div class="col-md-1">
      <div class="grid-stack grid-stack-1"></div>
    </div>
    <div class="col-md-1">
      <div class="grid-stack grid-stack-1"></div>
    </div>
    <div class="col-md-1">
      <div class="grid-stack grid-stack-1"></div>
    </div>
    <div class="col-md-1">
      <div class="grid-stack grid-stack-1"></div>
    </div>
    <div class="col-md-1">
      <div class="grid-stack grid-stack-1"></div>
    </div>
    <div class="col-md-1">
      <div class="grid-stack grid-stack-1"></div>
    </div>
    <div class="col-md-1">
      <div class="grid-stack grid-stack-1"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="grid-stack grid-stack-5">
        </div>
      </div>
    </div>
  </div>
</div>
