body{
  background-color: #346789;
}

.container-fluid{
  height: 100%;
  width: 100%;
}
.row-horizon,
.grid-stack-5{
  background-color: white;    // //azure
  border:1px solid black;
  border-radius: 15px
}
.row-horizon{
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.col-xs-1 .grid-stack .grid-stack-item .grid-stack-item-content,
.col-xs-1 .grid-stack .grid-stack-item .placeholder-content{
  width: 6.25vh;        //entspricht w_height/6/3*2
  // left: 7.5%;
  top: 12.5%;           //reduziert Größe um die Hälfte von 2/3
  bottom: 12.5%;        //reduziert Größe um die Hälfte von 2/3
}
.col-xs-12 .grid-stack .grid-stack-item{
//  min-width: 160px;
//  min-height: 160px
}
.col-xs-12 .grid-stack .grid-stack-item .grid-stack-item-content,
.col-xs-12 .grid-stack .grid-stack-item .placeholder-content {
 // width: 16.6666666667vh;       //entspricht w_height/6
  width: 8.3333333333vh;          //entspricht 50% von w_height/6
  left: calc(~"(100% - 8.3333333333vh) / 2");  //rückt es nach rechts ein
  top: 25%;                     //reduziert Größe um ein viertel
  bottom: 25%;                  //reduziert Größe um ein viertel
}
.grid-stack-item{
  display: inline-block;
}
:not(#block):not(#button) > .grid-stack-item-content{     //https://jsplumbtoolkit.com/community/demo/dynamicAnchors/app.css
  border: 1px solid #346789;
  border-radius: 0.5em;
  text-align: center;
  box-shadow: 2px 2px 19px #aaa;
  font-family: helvetica, sans-serif;
  cursor: pointer;
  opacity: 0.9;
  z-index:7 !important;
}
:not(#block):not(#button):not(#origin):not(#end) > .grid-stack-item-content {
  background-color: white;
}
:not(#block):not(#button) > .grid-stack-item-content:hover{
  border: 1px solid #123456;
  box-shadow: 2px 2px 19px #444;
  opacity: 0.9;
}
#origin .grid-stack-item-content,
#end .grid-stack-item-content{
  background-color: #123456;
  color: white;
}
#block .grid-stack-item-content{
  background-color: transparent;
  border:none;
}
.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
 // padding-right: 0;
 // padding-left: 0;
}
img {
  max-width:100%;
  max-height:100%;
//  position:absolute;
 // top:0;
 // max-width: 100%;
 // max-height: 75%;
}
.value{
 position:absolute;
 bottom:0;
 left:10%;
}
.startTime{
  position:absolute;
  bottom:0;
  right:10%;
}
.jtk-connector {
 //  z-index:5;
 }
.bestPath {
  z-index:6;
}
.jtk-endpoint {
  z-index:8;
}

.modal { overflow: visible; }
.modal-body { overflow-y: visible !important; }
